.carro{
    border:15px solid #333;
    background-color:#blue;
    border-radius:40px;
    padding:30px;
}

th{
    background-color: #black;
    color: red;


    background: #333;

}
{

	body { background-image: url("img/portatil_1.jpg") }
}